body{
    background: $sunny;
    font-family: arial;
}

ul{
    list-style-type: none;
    display: flex;

    /*align-items: center;*/
    /*display: inline-block;*/
}

li{
    display: inline;
    /*width: 33%;*/ 
}
ol, ul {
     /*padding-left: 2em; */
     margin-top: 2em; 
     margin-bottom: 2em
}
td{
    vertical-align: initial;
    /*font-size: xx-large;*/
}