body {
  background: #EFCB59;
  font-family: arial; }

ul {
  list-style-type: none;
  display: flex;
  /*align-items: center;*/
  /*display: inline-block;*/ }

li {
  display: inline;
  /*width: 33%;*/ }

ol, ul {
  /*padding-left: 2em; */
  margin-top: 2em;
  margin-bottom: 2em; }

td {
  vertical-align: initial;
  /*font-size: xx-large;*/ }

@media (max-width: 550px) {
  body {
    font-size: 30px; } }
#icon {
  margin-bottom: -17px; }

.panel {
  position: fixed;
  left: -15.625em;
  width: 15.625em;
  background: #91918E;
  z-index: 9; }

.menu-link {
  float: right; }

#history {
  display: list-item; }
  #history li {
    display: list-item;
    list-style-type: circle; }

.menu-link {
  z-index: 12;
  -webkit-position: sticky;
  -moz-position: sticky;
  -ms-position: sticky;
  -o-position: sticky;
  position: sticky; }

@media (max-width: 550px) {
  body {
    font-size: 30px; } }

/*# sourceMappingURL=stylesheet.css.map */
