.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    background: red;
}

.wrap {
    position: relative;
}

li{
	font-size: x-large;
}

.menu-link{
	float: right;
}