@import 'colours';
@import 'html-elements';
@import 'media-queries';

@mixin position($sticky) {
  -webkit-position: $sticky;
     -moz-position: $sticky;
      -ms-position: $sticky;
       -o-position: $sticky;
          position: $sticky;
}


#icon{
    margin-bottom: -17px;
}
.panel {
    position: fixed;
    left: -15.625em; 
    width: 15.625em; 
    background: $grey;
    z-index: 9;
}
.menu-link{
    float: right;
}


#history{
    display: list-item;
    
    li{
        display: list-item;
        list-style-type: circle;
    }
}

.menu-link{
    z-index: 12;
    @include position(sticky);
}


@media (max-width: 550px) {
    body{
        font-size: 30px;
    }
}



